<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<%= link_to 'Back', conversations_path %>

<br>

<div class="container textbox-styling1">
  <br>
  <div class="container ui segment">
      <% @messages.each do |message| %>
        <% if message.body %>
          <% user = User.find(message.user_id) %>
          <div class="item">
            <div class="content textbox-styling2">
              <div class="header"><strong><%= user.email %></strong> <%= message.message_time %></div>

            <%# Seperate the sender and recipient from each other  %>
            <%# @conversations.each do |conversation| %>
            <%# if conversation %>

              <div class="list">
                <div class="item">
                  <i class="right triangle icon"></i>
                  <%= message.body %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
  <br>
</div>

<br>

<%= form_for [@conversation, @message], html: {class: "ui reply form"} do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "Add Reply", class: "ui blue labeled submit icon button" %>
  </div>

<% end %>