<p id="notice"><%= notice %></p>
<div class= "bg-faded">
  <div class="container-fluid text-center">
    <h1 class="display-4">People who also want to eat <%= @current_profile.cuisine_preference %></h1>
    <%= link_to "#{@current_profile.cuisine_preference} Resturant Reccomendations", '/restaurants', class: "btn btn-success my-3" %>
  </div>
  <div class="container-fluid mx-5 my-5">
    <table class="table table-hover">
      <tbody>
        <% @profiles_by_cuisine.each do |profile| %>
          <tr>
            <td><%= profile.first_name %></td>
            <td>
              <% if profile.profile_image %>
                <%= image_tag profile.profile_image_url(:thumb) %>
              <% end %>
            </td>
            <td><%= profile.gender %></td>
            <td><%= profile.city %></td>
            <td><%= link_to 'See my Profile', profile, class: "btn btn-success" %></td>
            <td><%= link_to 'Message', conversations_path(sender_id: current_user.id, recipient_id: profile.user_id), class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>
</div>

